/* Variable*/
$full-width: 100%;
$buttons-top-padding: $full-width / 6 * 0.2;

/* CSS Mobile Reset */
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: #fff;
  color: #000;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
p img {
  float: left;
  margin: 0 10px 5px 0;
  padding: 0;
}
img {
  border: 0;
  width: $full-width;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 16px;
}
body {
  position: relative;
}
main {
  width: 100%;
  & > section {
    width: 100%;
    min-width: 1365px;
    & > div {
      width: 1365px;
      margin: 0 auto;
      position: relative;
    }
    aside {
      padding: 40px 0;
      width: 240px;
    }
    article {
      width: 1100px;
      position: absolute;
      right: 0;
      top: 40px;
    }
    .archive {
      width: 105px;
      height: 32px;
      border-radius: 34px;
      line-height: 32px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -53px;
    }
  }

  .block1 {
    background: #003366;
    aside {
      & > ul {
        width: 233px;
        font-size: 15px;
        border-left: 6px solid #001f3d;
        color: #fff;
        li {
          border: 1px solid #4574a2;
          border-top: 0;
          padding: 15px 0 15px 10px;
          margin-left: -6px;
          position: relative;
          &:first-child {
            border-top: 1px solid #4574a2;
          }
          &:hover {
            color: #00fcff;
          }
          a > i {
            display: inline-block;
            width: 10%;
            color: #aabfd4;
            float: left;
          }
          a span {
            display: inline-block;
            width: 80%;
          }
          &.sub {
            z-index: 1;
            &::after {
              content: ">";
              display: block;
              position: absolute;
              top: 16px;
              right: 14px;
            }
            ul {
              display: none;
              position: absolute;
              right: -283px;
              top: 0;
              width: 277px;
              font-size: 15px;
              color: #1e4572;
              li {
                background: #e4f2ff;
                &:hover {
                  background: #c6e4ff;
                  color: #0053a6;
                }
              }
            }
            &:hover > ul {
              display: block;
            }
          }
        }
      }
    }
    article {
      height: 555px;
      .archive {
        border: 1px solid #00fcff;
        color: #00fcff;
        &:hover {
          background: #00fcff;
          color: #003366;
        }
      }
      .sliderbox {
        .slidercontent {
          width: 100%;
          overflow-x: hidden;
          .flexslider {
            background: none;
            border: none;
            .flex-direction-nav a:before {
              font-size: 34px;
              color: #fff;
            }
            .flex-control-paging li a {
              background: #fff;
            }
            .flex-control-paging li a.flex-active {
              background: #00fcff;
            }
            .slides {
              li {
                height: 100%;
                .one-slide {
                  width: 533px;
                  height: 440px;
                  float: left;
                  position: relative;
                  &:first-child {
                    margin-right: 32px;
                  }
                  a {
                    height: 100%;
                    &:hover {
                      opacity: 0.8;
                    }
                    &:hover .pic-title {
                      color: #00fcff;
                    }
                  }
                  .img {
                    width: 100%;
                    overflow: hidden;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 3px solid #00fcff;
                    img {
                      width: auto;
                    }
                  }
                  .pic-dis {
                    width: 100%;
                    position: absolute;
                    height: 60px;
                    bottom: 0;
                    .pic-date {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 70px;
                      height: 100%;
                      background: #00fcff;
                      line-height: 66px;
                      color: #004772;
                      text-align: center;
                    }
                    .triangle {
                      position: absolute;
                      top: 34%;
                      left: 70px;
                      width: 0;
                      height: 0;
                      border-style: solid;
                      border-width: 8.5px 0 8.5px 15px;
                      border-color: transparent transparent transparent #00fcff;
                    }
                    .pic-title {
                      background: #000;
                      color: #fff;
                      position: absolute;
                      right: 0;
                      top: 0;
                      padding: 10px 34px 4px 96px;
                      font-size: 16px;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 2;
                      overflow: hidden;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .block2 {
    background: url("../images/bg.jpg") 0 0;
    height: 1560px;
    .blue {
      color: #00acec;
    }
    .green {
      color: #2bd5ab;
    }
    .orange {
      color: #ff9d10;
    }
    aside {
      & > div {
        width: 228px;
        margin-bottom: 20px;
        .title {
          width: 100%;
          height: 40px;
          background: #003366;
          color: #fff;
          line-height: 40px;
          padding-left: 12px;
        }
        .content {
          width: 100%;
          background: #fff;
          height: 40px;
          line-height: 40px;
          outline: 1px solid #eeeeee;
          padding-left: 12px;
          a {
            display: inherit;
          }
          span {
            color: #00acec;
          }
        }
        ul {
          width: 240px;
          background: #fff;
          outline: 1px solid #eeeeee;
          padding-bottom: 20px;
          li {
            line-height: 40px;
            padding-left: 12px;
            a > i {
              display: inline-block;
              color: #aabfd4;
              width: 10%;
              float: left;
            }
            a span {
              display: inline-block;
              width: 80%;
            }
            &:hover {
              color: #00acec;
            }
          }
        }
      }
    }
    .partbox {
      width: 100%;
      background: #ededed;
      border-top: 5px solid #00acec;
      margin-bottom: 50px;
      position: relative;
      .title {
        padding: 30px 0;
        text-align: center;
        font-family: "Verdana";
        font-size: 28px;
      }
      .content {
        padding: 0 31px 110px 31px;
        position: relative;
        .part {
          width: 235px;
          margin: 0 32px 0 -3px;
          display: inline-block;
          &:nth-child(4) {
            margin-right: 0;
          }
          &:hover {
            color: #00acec;
            opacity: 0.9;
          }
          .imgbox {
            width: 100%;
            position: relative;
            .img {
              width: 100%;
              height: 175px;
              position: relative;
              overflow: hidden;
              margin-bottom: 25px;
              border-bottom: 6px solid #00acec;
              img {
                position: absolute;
                width: 100%;
              }
            }
            .date {
              width: 81px;
              height: 29px;
              background: #00acec;
              position: absolute;
              left: 0;
              bottom: -10px;
              font-size: 15px;
              color: #fff;
              line-height: 29px;
              text-align: center;
            }
          }
          .dis {
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            max-height: 48px;
          }
        }
        .archive {
          border: 1px solid #00acec;
          color: #00acec;
          bottom: 40px;
          &:hover {
            background: #00acec;
            color: #ededed;
          }
        }
      }
      .triangle {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -8.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 8.5px 0 8.5px;
        border-color: #00acec transparent transparent transparent;
      }
    }
    .greenbox {
      border-top: 5px solid #2bd5ab;
      .content {
        .part {
          &:hover {
            color: #2bd5ab;
          }
          .imgbox {
            .img {
              border-bottom: 6px solid #2bd5ab;
            }
            .date {
              background: #2bd5ab;
            }
          }
        }
        .archive {
          border: 1px solid #2bd5ab;
          color: #2bd5ab;
          &:hover {
            background: #2bd5ab;
            color: #ededed;
          }
        }
      }
      .triangle {
        border-color: #2bd5ab transparent transparent transparent;
      }
    }
    .orangebox {
      border-top: 5px solid #ff9d10;
      .content {
        .part {
          &:hover {
            color: #ff9d10;
          }
          .imgbox {
            .img {
              border-bottom: 6px solid #ff9d10;
            }
            .date {
              background: #ff9d10;
            }
          }
        }
        .archive {
          border: 1px solid #ff9d10;
          color: #ff9d10;
          &:hover {
            background: #ff9d10;
            color: #ededed;
          }
        }
      }
      .triangle {
        border-color: #ff9d10 transparent transparent transparent;
      }
    }
  }
  .block3 {
    background: #fff;
    font-family: "Verdana";
    margin-bottom: 100px;
    .list {
      width: 1038px;
      margin: 50px auto 50px 300px;
      .title {
        font-size: 18px;
        line-height: 36px;
        border-bottom: 3px solid #003366;
        display: inline-block;
      }
      ul {
        border-top: 1px solid #e4e4e4;
        li {
          font-size: 15px;
          margin: 11px 0;
          cursor: pointer;
          &:hover {
            color: #3db7ee;
          }
          &::before {
            content: ">";
            display: inline-block;
            margin-left: 2px;
            color: #003366;
          }
          span {
            margin-right: 10px;
          }
          .date {
            color: #003366;
          }
          &:hover > .date {
            color: #3db7ee;
          }
          .file {
            width: 77%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: top;
          }
          .sorce {
            color: #999999;
            float: right;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
